#container {
  height: 100vh;
}

.card {
  width: 500px;
  height: 340px;
  border: 5px solid yellowgreen;
  background-color: tan;
}

.btn {
  width: 80px;
  height: 80px;
  background-color: darkolivegreen;
  color: black;
  font-size: large;
  font-weight: bold;
}

#display {
  width: 140px;
  height: 30px;
  background: rgb(100, 230, 14);
}
